.registration-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 10px;
  background: radial-gradient(circle at top left, #333 0, #050505 40%, #000 100%);
  font-family: "Arial", sans-serif;
}

.registration-page h2 {
  color: #a7a401;
  margin: 1rem;
  letter-spacing: 1.3px;
  font-size: 2rem;
  font-family: 'Poppins, sans-serif';
  font-weight: 800;
}